body {
    background-image: url(/images/tFBXsNm-funny-star-wars-wallpaper.jpg);
    background-size: cover;
}

button {
    height: 10rem;
    width: 20rem;
    font-size: 3rem;
    cursor: pointer;
    border-radius: 20px;
    margin-left: 5rem;
    background-color: black;
    color: white;
    box-shadow: inset 0 0 0 0 rgb(211, 148, 13);
    transition: ease-in 0.3s;
}
#replay:hover {
    box-shadow: inset 20rem 0 0 0 rgb(211, 148, 13);
    color: black;
}