h1, h2 {
    color: white;
}
body {
    background-image: url(./images/wp5207820-darth-vader-desktop-4k-wallpapers.jpg);
    background-size: cover;
}
button {
    cursor: pointer;
    margin-left: 3rem;
}
.yoda {
    height: 10rem;
    margin-left: 23rem;
}
#text {
    color: white;
}