h1, h2 {
    color: white;
}

h1 {
    margin-left: 3rem;
}

h2 {
    margin-left: 13rem;
}

body {
    background-image: url(./images/wp5207820-darth-vader-desktop-4k-wallpapers.jpg);
    background-size: cover;
}
button {
    cursor: pointer;
    margin-left: 5rem;
    /* border: transparent;
    background: transparent; */
}


#text {
    color: white;
}

.luke-img {
    height: 15rem;
}
.kenobi {
    height: 15rem;
}
.yoda {
    height: 12rem;
    margin-left: 3.5rem;
}

.password-btn {
    margin-top: 24rem;
    margin-left: -4rem;
}

#password {
    border-radius: 20px;
}